<h1><%= @play.title %></h1>

<table>
  <thead>
    <th></th>
    <th><%= link_to 'Number of Lines', sort: 'num_lines' %></th>
    <th><%= link_to 'Longest Speech', sort: 'longest_speech_lines' %></th>
    <th><%= link_to 'Number of Scenes', sort: 'num_scenes' %></th>
    <th><%= link_to 'Percentage of Scenes', sort: 'num_scenes' %></th>
  </thead>
  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.name %></td>
        <td><%= speaker.num_lines %></td>
        <td><%= speaker.longest_speech_lines %></td>
        <td><%= speaker.num_scenes %></td>
        <td><%= ((speaker.num_scenes * 100.0) / @total_scenes).round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
