<h1><%= @play.title %></h1>

<table>
  <thead>
    <th></th>
    <th>Number of Lines</th>
    <th>Longest Speech (# Lines)</th>
    <th>Number of Scenes</th>
    <th>Percentage of Scenes</th>
  </thead>
  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.name %></td>
        <td><%= speaker.num_lines %></td>
        <td><%= speaker.longest_speech_lines %></td>
        <td><%= speaker.num_scenes %></td>
        <td><%= ((speaker.num_scenes * 100.0) / @total_scenes).round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
